# Japan Data
This notebook is about exploring Japan data

In [1]:
import pandas as pd
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource

In [2]:
jp_df = pd.read_csv("social_media-JP-monthly-201305-202305.csv")

In [3]:
jp_df.head()

,Date,Facebook,Twitter,Pinterest,Tumblr,YouTube,Instagram,reddit,StumbleUpon,LinkedIn,Google+,mixi,VKontakte,news.ycombinator.com,Fark,Vimeo,Digg,Other
0,2013-05,48.85,32.91,4.26,0.0,6.72,0.0,2.94,2.48,0.18,0.56,0.66,0.02,0.0,0.08,0.13,0.03,0.20
1,2013-06,46.61,36.52,3.87,0.0,6.34,0.0,2.51,2.09,0.16,0.53,0.71,0.03,0.0,0.09,0.27,0.03,0.23
2,2013-07,50.10,33.48,3.73,0.0,6.58,0.0,2.19,2.11,0.16,0.65,0.41,0.02,0.0,0.08,0.22,0.08,0.19
3,2013-08,51.47,33.77,3.57,0.0,5.97,0.0,1.83,1.79,0.17,0.54,0.48,0.02,0.0,0.07,0.11,0.11,0.10
4,2013-09,46.71,36.44,6.13,0.0,5.45,0.0,1.94,1.94,0.13,0.51,0.41,0.01,0.0,0.05,0.10,0.07,0.11

In [4]:
# important to convert the date column to datetime!
jp_df['Date'] = pd.to_datetime(jp_df['Date'])

In [5]:
jp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  121 non-null    datetime64[ns]
 1   Facebook              121 non-null    float64
 2   Twitter               121 non-null    float64
 3   Pinterest             121 non-null    float64
 4   Tumblr                121 non-null    float64
 5   YouTube               121 non-null    float64
 6   Instagram             121 non-null    float64
 7   reddit                121 non-null    float64
 8   StumbleUpon           121 non-null    float64
 9   LinkedIn              121 non-null    float64
 10  Google+               121 non-null    float64
 11  mixi                  121 non-null    float64
 12  VKontakte             121 non-null    float64
 13  news.ycombinator.com  121 non-null    float64
 14  Fark                  121 non-null    float64
 15  Vimeo                 121 non-null    float64
 16  Digg                  121 non-null    float64
 17  Other                 121 non-null    float64
dtypes: datetime64[ns](1), float64(17)
memory usage: 17.1 KB

In [6]:
p = figure(width=800, height=800, title="USA Data",  x_axis_type = 'datetime', x_axis_label = 'Date', y_axis_label= 'Percent')
p.line(y=jp_df['Facebook'], x=jp_df['Date'], line_width=2, color='red', legend_label='Facebook')
p.line(y=jp_df['Twitter'], x=jp_df['Date'], line_width=2, color='green', legend_label='Twitter')
p.line(y=jp_df['Pinterest'], x=jp_df['Date'], line_width=2, color='grey', legend_label='Pinterest')
p.line(y=jp_df['Tumblr'], x=jp_df['Date'], line_width=2, color='black', legend_label='Tumblr')
p.line(y=jp_df['Instagram'], x=jp_df['Date'], line_width=2, color='blue', legend_label='Instagram')
p.line(y=jp_df['reddit'], x=jp_df['Date'], line_width=2, color='purple', legend_label='reddit')
p.line(y=jp_df['YouTube'], x=jp_df['Date'], line_width=2, color='cyan', legend_label='YouTube')
show(p)