# Linear Regression Notebook
This will use PyTorch to perform Linear Regression

In [6]:
import torch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("social_media-GB-monthly-201301-202301.csv")

In [8]:
df.head()

,Date,Facebook,Twitter,Pinterest,Tumblr,Instagram,reddit,StumbleUpon,YouTube,LinkedIn,Google+,VKontakte,news.ycombinator.com,Fark,Digg,Other
0,2013-01,63.21,17.49,3.69,0.0,0.0,3.55,7.48,3.75,0.44,0.01,0.01,0.11,0.03,0.03,0.22
1,2013-02,60.88,19.06,4.41,0.0,0.0,3.67,6.98,3.99,0.43,0.23,0.02,0.11,0.02,0.02,0.19
2,2013-03,59.06,20.26,4.54,0.0,0.0,3.93,6.82,4.34,0.41,0.36,0.01,0.04,0.03,0.02,0.19
3,2013-04,61.46,19.88,4.02,0.0,0.0,3.75,6.90,3.01,0.38,0.35,0.01,0.00,0.03,0.05,0.17
4,2013-05,61.95,19.34,3.69,0.0,0.0,4.53,6.93,2.75,0.34,0.24,0.03,0.00,0.02,0.02,0.16

In [15]:
df_facebook = df[['Facebook', 'Date']]

In [16]:
df_facebook.head()

   Facebook     Date
0     63.21  2013-01
1     60.88  2013-02
2     59.06  2013-03
3     61.46  2013-04
4     61.95  2013-05