# South Korea Data
This notebook is about exploring South Korea data

In [1]:
import pandas as pd
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource

In [2]:
sk_df = pd.read_csv('social_media-KR-monthly-201305-202305.csv')

In [3]:
sk_df.head()

,Date,Facebook,Twitter,YouTube,Tumblr,Pinterest,Instagram,reddit,Google+,StumbleUpon,LinkedIn,VKontakte,Vimeo,Other
0,2013-05,66.95,14.62,4.92,0.0,4.68,0.0,3.48,0.64,3.97,0.22,0.03,0.09,0.39
1,2013-06,62.22,18.68,4.88,0.0,4.89,0.0,3.55,0.52,4.30,0.23,0.10,0.12,0.50
2,2013-07,58.35,22.73,4.65,0.0,4.92,0.0,3.15,0.57,4.71,0.25,0.07,0.12,0.48
3,2013-08,56.86,26.01,4.80,0.0,4.42,0.0,2.70,0.52,3.95,0.24,0.02,0.10,0.38
4,2013-09,55.72,27.48,3.45,0.0,5.01,0.0,3.30,0.51,3.83,0.20,0.03,0.11,0.35

In [4]:
# important to convert the date column to datetime!
sk_df['Date'] = pd.to_datetime(sk_df['Date'])

In [5]:
sk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         121 non-null    datetime64[ns]
 1   Facebook     121 non-null    float64
 2   Twitter      121 non-null    float64
 3   YouTube      121 non-null    float64
 4   Tumblr       121 non-null    float64
 5   Pinterest    121 non-null    float64
 6   Instagram    121 non-null    float64
 7   reddit       121 non-null    float64
 8   Google+      121 non-null    float64
 9   StumbleUpon  121 non-null    float64
 10  LinkedIn     121 non-null    float64
 11  VKontakte    121 non-null    float64
 12  Vimeo        121 non-null    float64
 13  Other        121 non-null    float64
dtypes: datetime64[ns](1), float64(13)
memory usage: 13.4 KB

In [6]:
p = figure(width=800, height=800, title="USA Data",  x_axis_type = 'datetime', x_axis_label = 'Date', y_axis_label= 'Percent')
p.line(y=sk_df['Facebook'], x=sk_df['Date'], line_width=2, color='red', legend_label='Facebook')
p.line(y=sk_df['Twitter'], x=sk_df['Date'], line_width=2, color='green', legend_label='Twitter')
p.line(y=sk_df['Pinterest'], x=sk_df['Date'], line_width=2, color='grey', legend_label='Pinterest')
p.line(y=sk_df['Tumblr'], x=sk_df['Date'], line_width=2, color='black', legend_label='Tumblr')
p.line(y=sk_df['Instagram'], x=sk_df['Date'], line_width=2, color='blue', legend_label='Instagram')
p.line(y=sk_df['reddit'], x=sk_df['Date'], line_width=2, color='purple', legend_label='reddit')
p.line(y=sk_df['YouTube'], x=sk_df['Date'], line_width=2, color='cyan', legend_label='YouTube')
show(p)