# Linear Regression Notebook
This will use PyTorch to perform Linear Regression

In [21]:
import torch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
df = pd.read_csv("social_media-GB-monthly-201301-202301.csv")

In [3]:
df.head()

,Date,Facebook,Twitter,Pinterest,Tumblr,Instagram,reddit,StumbleUpon,YouTube,LinkedIn,Google+,VKontakte,news.ycombinator.com,Fark,Digg,Other
0,2013-01,63.21,17.49,3.69,0.0,0.0,3.55,7.48,3.75,0.44,0.01,0.01,0.11,0.03,0.03,0.22
1,2013-02,60.88,19.06,4.41,0.0,0.0,3.67,6.98,3.99,0.43,0.23,0.02,0.11,0.02,0.02,0.19
2,2013-03,59.06,20.26,4.54,0.0,0.0,3.93,6.82,4.34,0.41,0.36,0.01,0.04,0.03,0.02,0.19
3,2013-04,61.46,19.88,4.02,0.0,0.0,3.75,6.90,3.01,0.38,0.35,0.01,0.00,0.03,0.05,0.17
4,2013-05,61.95,19.34,3.69,0.0,0.0,4.53,6.93,2.75,0.34,0.24,0.03,0.00,0.02,0.02,0.16

In [4]:
df_facebook = df[['Facebook', 'Date']]

In [5]:
df_facebook.head()

   Facebook     Date
0     63.21  2013-01
1     60.88  2013-02
2     59.06  2013-03
3     61.46  2013-04
4     61.95  2013-05

In [27]:
dates = df_facebook['Date']

In [28]:
print(dates)

0      2013-01
1      2013-02
2      2013-03
3      2013-04
4      2013-05
        ...
116    2022-09
117    2022-10
118    2022-11
119    2022-12
120    2023-01
Name: Date, Length: 121, dtype: object

In [29]:
dates_to_datetime = pd.to_datetime(dates)
dates_to_datetime = dates_to_datetime.map(dt.datetime.toordinal)

In [30]:
print(dates_to_datetime)

0      734869
1      734900
2      734928
3      734959
4      734989
        ...
116    738399
117    738429
118    738460
119    738490
120    738521
Name: Date, Length: 121, dtype: int64

In [17]:
facebook_data = df_facebook['Facebook'].to_numpy()

In [12]:
print(test)

[63.21 60.88 59.06 61.46 61.95 62.61 58.82 54.96 52.65 57.39 57.29 52.99
 56.83 56.92 56.58 58.74 58.12 63.08 63.02 68.89 73.39 76.07 75.12 81.06
 78.21 78.55 81.95 82.22 82.04 82.03 80.97 79.22 78.86 79.79 81.82 81.03
 82.17 82.34 82.56 82.11 81.13 81.24 81.78 80.25 80.47 79.28 80.75 80.72
 87.08 83.87 79.62 74.13 75.06 75.56 77.28 78.5  73.24 70.8  67.04 72.88
 70.34 66.58 61.12 58.85 58.8  55.92 64.54 64.21 68.65 66.6  64.9  70.81
 64.53 63.88 55.51 61.22 61.18 59.57 57.66 60.51 58.09 44.6  43.49 40.18
 37.09 36.12 39.64 36.01 60.3  58.31 55.87 58.27 55.21 54.19 48.32 50.56
 52.39 53.84 56.8  56.3  56.05 52.27 55.9  60.82 64.13 54.07 55.6  58.56
 64.14 61.37 60.49 62.48 64.38 62.28 60.83 57.79 54.18 52.48 48.68 49.89
 52.  ]

In [18]:
facebook_data_tensor = torch.from_numpy(facebook_data).type(torch.float32)

In [19]:
print(facebook_data_tensor)

tensor([63.2100, 60.8800, 59.0600, 61.4600, 61.9500, 62.6100, 58.8200, 54.9600,
        52.6500, 57.3900, 57.2900, 52.9900, 56.8300, 56.9200, 56.5800, 58.7400,
        58.1200, 63.0800, 63.0200, 68.8900, 73.3900, 76.0700, 75.1200, 81.0600,
        78.2100, 78.5500, 81.9500, 82.2200, 82.0400, 82.0300, 80.9700, 79.2200,
        78.8600, 79.7900, 81.8200, 81.0300, 82.1700, 82.3400, 82.5600, 82.1100,
        81.1300, 81.2400, 81.7800, 80.2500, 80.4700, 79.2800, 80.7500, 80.7200,
        87.0800, 83.8700, 79.6200, 74.1300, 75.0600, 75.5600, 77.2800, 78.5000,
        73.2400, 70.8000, 67.0400, 72.8800, 70.3400, 66.5800, 61.1200, 58.8500,
        58.8000, 55.9200, 64.5400, 64.2100, 68.6500, 66.6000, 64.9000, 70.8100,
        64.5300, 63.8800, 55.5100, 61.2200, 61.1800, 59.5700, 57.6600, 60.5100,
        58.0900, 44.6000, 43.4900, 40.1800, 37.0900, 36.1200, 39.6400, 36.0100,
        60.3000, 58.3100, 55.8700, 58.2700, 55.2100, 54.1900, 48.3200, 50.5600,
        52.3900, 53.8400, 56.8000, 56.3000, 56.0500, 52.2700, 55.9000, 60.8200,
        64.1300, 54.0700, 55.6000, 58.5600, 64.1400, 61.3700, 60.4900, 62.4800,
        64.3800, 62.2800, 60.8300, 57.7900, 54.1800, 52.4800, 48.6800, 49.8900,
        52.0000])