# UK Data Exploration

This notebook is about exploring the UK data

In [1]:
import pandas as pd
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource

In [2]:
uk_df = pd.read_csv("social_media-GB-monthly-201305-202305.csv")

In [3]:
uk_df.head()

,Date,Facebook,Twitter,Pinterest,Tumblr,Instagram,reddit,StumbleUpon,YouTube,LinkedIn,Google+,VKontakte,news.ycombinator.com,Fark,Digg,Other
0,2013-05,61.95,19.34,3.69,0.0,0.0,4.53,6.93,2.75,0.34,0.24,0.03,0.0,0.02,0.02,0.16
1,2013-06,62.61,19.93,3.73,0.0,0.0,4.06,6.25,2.46,0.36,0.24,0.03,0.0,0.04,0.03,0.27
2,2013-07,58.82,22.21,4.10,0.0,0.0,4.13,6.92,2.71,0.46,0.30,0.01,0.0,0.03,0.05,0.27
3,2013-08,54.96,23.91,4.69,0.0,0.0,4.49,7.85,3.02,0.53,0.32,0.02,0.0,0.03,0.07,0.13
4,2013-09,52.65,24.90,5.15,0.0,0.0,5.69,7.78,2.86,0.46,0.32,0.01,0.0,0.02,0.04,0.12

In [4]:
# important to convert the date column to datetime!
uk_df['Date'] = pd.to_datetime(uk_df['Date'])

In [6]:
uk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  121 non-null    datetime64[ns]
 1   Facebook              121 non-null    float64
 2   Twitter               121 non-null    float64
 3   Pinterest             121 non-null    float64
 4   Tumblr                121 non-null    float64
 5   Instagram             121 non-null    float64
 6   reddit                121 non-null    float64
 7   StumbleUpon           121 non-null    float64
 8   YouTube               121 non-null    float64
 9   LinkedIn              121 non-null    float64
 10  Google+               121 non-null    float64
 11  VKontakte             121 non-null    float64
 12  news.ycombinator.com  121 non-null    float64
 13  Fark                  121 non-null    float64
 14  Digg                  121 non-null    float64
 15  Other                 121 non-null    float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 15.2 KB

In [10]:
p = figure(width=800, height=800, title="UK Data",  x_axis_type = 'datetime', x_axis_label = 'Date', y_axis_label= 'Percent')
p.line(y=uk_df['Facebook'], x=uk_df['Date'], line_width=2, color='red', legend_label='Facebook')
p.line(y=uk_df['Twitter'], x=uk_df['Date'], line_width=2, color='green', legend_label='Twitter')
p.line(y=uk_df['Pinterest'], x=uk_df['Date'], line_width=2, color='grey', legend_label='Pinterest')
p.line(y=uk_df['Tumblr'], x=uk_df['Date'], line_width=2, color='black', legend_label='Tumblr')
p.line(y=uk_df['Instagram'], x=uk_df['Date'], line_width=2, color='blue', legend_label='Instagram')
p.line(y=uk_df['reddit'], x=uk_df['Date'], line_width=2, color='purple', legend_label='reddit')
p.line(y=uk_df['YouTube'], x=uk_df['Date'], line_width=2, color='cyan', legend_label='YouTube')
show(p)